.consumer-section-two{
	background:#E9F4EF;
	width:100%;
	min-height:792px;
	display:flex;
	align-items:center;
	justify-content:center;
	box-sizing:border-box;
}

.consumer-section-two .section-inner{
	width:100%;
	max-width:1192px;
	margin:0 auto;
	box-sizing:border-box;
}

.consumer-section-two .section-title{
	font-family:"IBM Plex Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans";
	font-weight:700;
	font-size:31px;
    color: #000;
	line-height:37.2px;
	margin:0 0px 50px 0px;
	text-align:right;
}

.consumer-section-two .fields{
	display:flex;
	flex-direction:column;
	gap:20px;
}

.consumer-section-two .field{
	background:#FFF;
	border:1px solid #CDCDCD;
	box-shadow:0 4px 10px rgba(0,0,0,0.08);
	border-radius:8px;
	padding:20px;
	box-sizing:border-box;
}

.consumer-section-two .field .field-text{
	color:#2C8257;
	font-family:"IBM Plex Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans";
	font-weight:600;
	font-size:20px;
	line-height:24px;
}

.consumer-section-two .field-row{
	display:flex;
	gap:34px;
}

.consumer-section-two .field.half{
	flex:1 1 0;
}


